<!DOCTYPE html>
<html>
<head>
<style>
    form {border: 3px solid black;
border-radius:25px;
margin-top: 570px;
margin-top: 93px;

}
   
body{
    margin-left: 943px;
    margin-top: -430px;
   
}
ul{
    font-family: fantasy;
  }
</style>
</head>
<body>
    <form style="width: 70%; background-color:white;color: black">
        <ul>
        <h2>FACTS</h2>
        <p>According to a 2009 study that was conducted in Paris, the participants’ brains actually worked at half capacity when they were asked to multitask. When multitasking, it typically takes the brain twice as long to complete an assignment or task, and your error rate goes up by about 50%</p><br>
        <p>SO DO NOT LOSE FOCUS</p>
    </ul>
    </form>
</body>
</html>



