
<!DOCTYPE html>
<html>
<head>
<style>
  form {border: 3px solid black;
border-radius:25px;
margin-top: -570px;



}

body{
    
    margin-left: 943px;
    margin-top: -530px;
   
}
ul{
    font-family: fantasy;
  }
</style>
</head>
<body>
    <form style="width: 70%; background-color:white;color: black">
        <ul>
        <h2>INTERNET OF THINGS</h2>
        <p> Internet of Things (IoT) is an ecosystem of connected physical objects that are accessible through the internet. The ‘thing’ in IoT could be a person with a heart monitor or an automobile with built-in-sensors, i.e. objects that have been assigned an IP address and have the ability to collect and transfer data over a network without manual assistance or intervention. The embedded technology in the objects helps them to interact with internal states or the external environment, which in turn affects the decisions taken.</p>
        </ul>
    </form>
</body>
</html>