<html>
    <head>
        <style>
        .button {
                background-color: rgb(146, 158, 146);
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
              }
              body{
                  margin-top: -619px;
              }
              ul{
    font-family: fantasy;
  }
            

        </style>
    </head>
    <body>
            <button class ="button" routerLink='usersignup'>User SignUp</button>
            <button class ="button" routerLink='mentorsignup'>Mentor SignUp</button>
            <button class ="button" routerLink='adminsignup'>Admin SignUp</button>
    </body>
</html>





<router-outlet></router-outlet>