<!DOCTYPE html>
<html>

<head>
  <style>
    form {
      border: 3px solid black;
      border-radius: 25px;
      margin-top: 170px;
      margin-left: -930px;
      width: -300px;

    }

    body {
      margin-left: 943px;
      margin-top: -430px;

    }

    ul {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-left: -35px;
    }
  </style>
</head>

<body>
  <form #usersignup="ngForm" style=" width: max-content; height: max-content; background-color:white;color: black">
    <div class="whole">
      <button type="submit" (click)="add()">Edit Profile</button>
      <div *ngIf="addclick==1">
        <div class="container">
          <label for="email"><b>EMAIL</b></label>
          <span><input type="email" #email="ngModel" placeholder="Enter Mail" name="email_id" required email
              [(ngModel)]="item.umail" #email="ngModel"></span><br><br>
          <div *ngIf="email.errors && (email.dirty || email.touched)">
            <p *ngIf="email.errors.required"> * Email is required </p>
            <p *ngIf="email.errors.email"> * Email is not valid </p>

          </div>
          <div>
            <label for="uname"><b>USERNAME</b></label>
            <span><input type="text" placeholder="Enter username" name="user_name" required uname
                [(ngModel)]="item.uname" #uname="ngModel"></span><br><br>
          </div>
          <div>
            <label for="unumber"><b>USER NUMBER</b></label>
            <span><input type="number" placeholder="Enter unumber" name="user_num" required unumber
                [(ngModel)]="item.unumber" #unumber="ngModel"></span><br><br>
          </div>
          <div>
            <label for="psw"><b>PASSWORD</b></label>
            <span> <input type="password" id="psw" name="pass_word" placeholder="Enter Password"
                style="margin-left: 62px;text-align: center;" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                required minlength="7" [(ngModel)]="item.upassword" #pass="ngModel"></span><br><br>
          </div>
        </div>
        <button (click)="Update()">Edit Changes</button>
      </div>
      
    </div>

  </form>
</body>

</html>